<li class="nav-dropdown-container language">
  <a class="nav-link">Sprachen:</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="http://diglossa.org/<%- page.path %>" class="nav-link">En</a></li>
    <li><a href="http://ru.diglossa.org/<%- page.path %>" class="nav-link">Ru</a></li>
    <li><a href="http://de.diglossa.org/<%- page.path %>" class="nav-link">De</a></li>  </ul>
</li>
