<li class="nav-dropdown-container language">
  <a class="nav-link">Sonstiges</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="/volunteers/" class="nav-link">Freiwillige Mitarbeiter</a></li>
    <li><a href="/license/" class="nav-link">Lizenz</a></li>
    <li><a href="/contacts/" class="nav-link">Kontakte</a></li>
    <li><a href="/support/" class="nav-link">Unterstützung</a></li>
  </ul>
</li>
